@charset "UTF-8"

body{
background-image:url(),url();}

.grad{
background-color:red;
background:linear-gradient
(90deg,
orangered 0%
white 50%
orange 100%);}

.button{
display:block;
margin:5px;
padding:10px;
width:256px;}

.skew{
transform:skew(45deg,60deg);}
