@charset "UTF-8"

body
{
	background-image:url(suwaru.png), url(bg.png);
	background-repeat:no-repeat,no-repeat;
	background-color:lightcyan;
	margin:20px;
}

.button
{

}

.button:hover
{
	transform:rotate(180deg);
}
